@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
	@apply font-bold text-5xl text-title;
}

h2{
	@apply font-bold text-2xl text-title;
}

p{
	@apply font-normal text-sm;
}

.carousel {
  position: relative;
  overflow: hidden;
	height: 300px; 
	margin-top: 2%;
}

.carousel-slide {
  display: flex;
  overflow: hidden;
}

.slide {
  display: flex;
	position: absolute;
	top: 0;
  gap: 1%;
  min-width: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  transform: translateX(-100%);
	align-items: center;
}

.slide.active {
  opacity: 1;
  transform: translateX(0%);
}

.prev-button{
	position: absolute;
  top: 50%;
  z-index: 1;
	left: 2.5%;
}

.next-button{
	position: absolute;
  top: 50%;
  z-index: 1;
  right: 2.5%;
}

.testimony{
	position: relative;
  overflow: hidden;
	height: 460px; 
	margin-top: 2%;
}

.slide-testion{
	display: flex;
	justify-content: space-evenly;
	gap: 5%;
}

.prev-testimony{
	position: absolute;
  top: 50%;
  z-index: 1;
	left: 0;
}

.next-testimony{
	position: absolute;
  top: 50%;
  z-index: 1;
  right: 0;
}

.list-questions li {
  transform: translateY(10px); 
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
}

.list-questions li.active {
  opacity: 1; 
  transform: translateY(0);
}

.list-questions p, img{
	cursor: pointer;
}

.list-questions li{
	width: 70%;
}